<link rel="stylesheet" href="style.css">


  <section class="jobCard">

    <div class="card-header">
      <div>
        <h1>
          <%= job.title %>
        </h1>
        <h2>
          <%= job.company %>
        </h2>
      </div>

      <div class="extra">
        <p>
          <%= job.locations %>
        </p>
        <p><%- job.salary %></p>
      </div>
    </div>

    <div class="tekst">
      <p>
        <%= job.description %>
      </p>
    </div>

  <div class="jobCard-actions">
    <a href="/detail/<%= job._id %>" class="button-primary">Bekijk details</a>

    <% if (user) { %>
      <button 
        class="button-primary favorite-btn" 
        data-id="<%= job._id %>">
        Toevoegen aan favorieten
      </button>
    <% } else { %>
      <a href="/inlog" class="button-primary">
        Log in om favoriet toe te voegen
      </a>
    <% } %>
  </div>
  </section>

  

