<link rel="stylesheet" href="style.css">


  <section class="jobCard">

    <div class="card-header">
      <div>
        <h1>
          <%= job.title %>
        </h1>
        <h2>
          <%= job.company %>
        </h2>
      </div>

      <div class="extra">
        <p>
          <%= job.locations %>
        </p>
        <p><%- job.salary %></p>
      </div>
    </div>

    <div class="tekst">
      <p>
        <%= job.description %>
      </p>
    </div>

    <a href="/detail/<%= job._id %>">Bekijk details</a>
    <a href="/favorites/add/<%= job._id %>">Toevoegen aan favorieten</a>
  </section>

  

