<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail pagina</title>
    <link rel="stylesheet" href="/style.css">
</head>
<header>
    <%- include('../partials/header') %>
</header>
<body class="detail">
    <h1><%= job.title %></h1>
    <section>
        <p><%= job.description %></p>
        <div class="job-info">
            <div>
                <h2>Bedrijf</h2><p><%= job.company %></p>
                <h2>Locatie</h2><p><%= job.locations %></p>
                <h2>Werk schema</h2><p><%= job.work_schedule %></p>
            </div>
            <div>
                <h2>Salaris range</h2><p>€<%= job.salary_min %> - €<%= job.salary_max %></p>
                <h2>Salaris type</h2><p><%= job.salary_type %></p>
                <h2>Upload datum</h2><p><%= job.date %></p>
            </div>
        </div>
        <form action="/favorites/add/<%= job._id %>" method="POST" class="favorite-form">
    <button type="submit" class="button-primary">Aan favorieten toevoegen</button>
  </form>
    </section>

    <section class="vacatures">
        <h2>Uitgelichte vacatures</h2>
        <div class="carousel">
            <%- include('../partials/kaartje', { data: randomJobs }) %>
        </div>
    </section>
    
</body>
</html>