<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <h1><%= job.title %></h1>
        <p><%= job.description %></p>
        <p><strong>Bedrijf:</strong> <%= job.company %></p>
        <p><strong>Locatie:</strong> <%= job.locations %></p>
        <p><strong>Werk schema:</strong> <%= job.work_schedule %></p>
        <p><strong>Salaris:</strong> €<%= job.salary_min %> - €<%= job.salary_max %></p>  
    </section>
</body>
</html>