<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
    <h1><%= job.title %></h1>
    <p><%= job.description %></p>
    <h2>Bedrijf</h2><p> <%= job.company %></p>
    <h2>Locatie</h2><p> <%= job.locations %></p>
    <h2>Werk schema</h2><p> <%= job.work_schedule %></p>
    <h2>Salaris range</h2><p>€<%= job.salary_min %> - €<%= job.salary_max %></p>
    <h2>Salaris type</h2><p><%= job.salary_type %></p>
    <h2>Upload datum</h2><p><%= job.date %></p>
    </section>
</body>
</html>