<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="style.css">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filterpagina</title>

</head>
<header>
    <%- include('../partials/header') %>
</header>
<body class="filterpagina">
    <main>
 
        <div class="layout">
        <aside>
            <form action="/filter" method="GET">

           

                    <ul class="dropdown">
                        <p>Locatie</p>
                        <li>
                            <input type="checkbox" name="location" value="Utrecht" id="check-utrecht">
                            <label for="check-utrecht">Utrecht</label>
                        </li>
                        <li>
                            <input type="checkbox" name="location" value="Noord-Holland" id="check-noordHolland" <%= filters.location === "Noord-Holland" ? "checked" : "" %>>
                            <label for="check-noordHolland">Noord-Holland</label>
                        </li>
                        <li>
                            <input type="checkbox" name="location" value="Gelderland" id="check-gelderland">
                            <label for="check-gelderland">Gelderland</label>
                        </li>
                        <li>
                            <input type="checkbox" name="location" value="Zuid-Holland" id="check-zuidHolland" <%= filters.location === "Zuid-Holland" ? "checked" : "" %>>
                            <label for="check-zuidHolland">Zuid-Holland</label>
                        </li>
                        <li>
                            <input type="checkbox" name="location" value="Flevoland" id="check-Flevoland">
                            <label for="check-Flevoland">Flevoland</label>
                        </li>
                        <li>
                            <input type="checkbox" name="location" value="Groningen" id="check-Groningen">
                            <label for="check-Groningen">Groningen</label>
                        </li>
                        <li>
                            <input type="checkbox" name="location" value="Brabant" id="check-Brabant">
                            <label for="check-Brabant">Brabant</label>
                        </li>
                        <li>
                            <input type="checkbox" name="location" value="Zeeland" id="check-Zeeland">
                            <label for="check-Zeeland">Zeeland</label>
                        </li>
                        <li>
                            <input type="checkbox" name="location" value="Limburg" id="check-Limburg">
                            <label for="check-Limburg">Limburg</label>
                        </li>
                        <li>
                            <input type="checkbox" name="location" value="Friesland" id="check-Friesland">
                            <label for="check-Friesland">Friesland</label>
                        </li>
                        <li>
                            <input type="checkbox" name="location" value="Drenthe" id="check-Drenthe">
                            <label for="check-Drenthe">Drenthe</label>
                        </li>
                        <li>
                            <input type="checkbox" name="location" value="Overijssel" id="check-Overijssel">
                            <label for="check-Overijssel">Overijssel</label>
                        </li>
                    </ul>

                    <div class="werkschema">
                        <p>Werkschema</p>
                        <input type="radio" name="work_schedule" value="fulltime" id="filter-fulltime" <%= filters.work_schedule === "fulltime" ? "checked" : "" %>>
                        <label for="filter-fulltime">Fulltime</label>

                        <input type="radio" name="work_schedule" value="parttime" id="filter-parttime">
                        <label for="filter-parttime">Parttime</label>

                        <input type="radio" name="work_schedule" value="ZZP" id="filter-ZZP">
                        <label for="filter-ZZP">ZZP</label>
                    </div>

                    <ul class="dropdown">
                        <p>Bedrijf</p>
                        <li>
                            <input type="checkbox" name="company" value="CareerValue">
                            <label>CareerValue</label>
                        </li>

                        <li>
                            <input type="checkbox" name="company" value="BOLD Company" <%= filters.company === "BOLD Company" ? "checked" : "" %>>
                            <label>BOLD Company</label>
                        </li>

                        <li>
                            <input type="checkbox" name="company" value="YoungCapital">
                            <label>YoungCapital</label>
                        </li>

                        <li>
                            <input type="checkbox" name="company" value="Devoteam">
                            <label>Devoteam</label>
                        </li>

                        <li>
                            <input type="checkbox" name="company" value="Avanade">
                            <label>Avanade</label>
                        </li>

                        <li>
                            <input type="checkbox" name="company" value="Devoteam">
                            <label>Iets anders...</label>
                        </li>
                    </ul>

                    <div class="sorteren">
                        <p>Sorteren op</p>
                      
                        <input type="radio" name="sort" value="newest" id="sort-newest">
                        <label for="sort-newest">Nieuwste</label>
                      
                        <input type="radio" name="sort" value="oldest" id="sort-oldest">
                        <label for="sort-oldest">Oudste</label>
                      </div>

                      <div class="slider-box">
                        <label for="priceRange">Price Range</label>
                        <input type="text" id="priceRange" readonly>
                        <div id="price-range" class="slider"></div>

                    <div class="buttonsubmit">
                    <button type="submit">Filters toepassen</button>
                </div>


            </form>
        </aside>

        <section class="job-list">

            <% if (jobs && jobs.length> 0) { %>
                <% jobs.forEach(job=> { %>
                    <article class="job-cardd">
                        <%- include('../partials/kaartje', { job:job }) %>
                    </article>

                    <% }) %>
                        <% } else { %>
                            <p>Geen vacatures gevonden...</p>
                            <% } %>
        </section>
    </div>
    </main>
</body>
<footer>
    <%- include('../partials/footer') %>
</footer>

</html>