<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overzicht</title>
    <link rel="stylesheet" href="/style.css">
</head>
<header>
    <%- include('../partials/header') %>
</header>
<body class="overzicht">
<main>
    <section>
        <h1>Vind jouw volgende kans!</h1>
        <p>Zoek jouw perfecte baan.</p>

        <form action="/overzicht" method="GET">
        <input 
            type="search"
            name="search"
            placeholder="Zoek op titel, locatie of bedrijf"
            value="<%= search || '' %>">
        <button type="submit">Zoek</button>
        </form>

        <% if (search) { %>
        <ul>
            <% jobs.forEach(job => { %>
            <li>
                <a href="/detail/<%= job._id %>"><h2><%= job.title %></h2></a>
                <a href="/detail/<%= job._id %>"><p><%= job.company %></p></a>
                <a href="/detail/<%= job._id %>"><p><%= job.locations %></p></a>
            </li>
            <% }) %>
        </ul>
        <% } %>
    </section>
    <section>
        <p>Populaire zoekresultaten</p>
        <div class="popular-searches">
            <button data-filter="PHP developer">PHP developer</button>
            <button data-filter="Amsterdam">Amsterdam</button>
            <button data-filter="Medior">Medior</button>
            <button data-filter="Back-end developer">Back-end developer</button>
            <button data-filter="Haarlem">Haarlem</button>
            <button data-filter="ZZP">ZZP</button>
            <button data-filter="BOLD company">BOLD company</button>
        </div>
    </section>

    <section class="vacatures">
        <h2>Uitgelichte vacatures</h2>
        <div class="carousel">
            <%- include('../partials/kaartje', { data: randomJobs }) %>
        </div>
    </section>

</main>
</body>
<footer>
    <%- include('../partials/footer') %>
</footer>
</html>
