<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overzicht</title>
    <link rel="stylesheet" href="/style.css">
</head>
<header>
    <%- include('../partials/header') %>
</header>
<body class="overzicht">
<main>
    <section>
        <h1>Vind jouw volgende kans!</h1>
        <p>Zoek jouw perfecte baan.</p>
    <article>
        <form action="/overzicht" method="GET">
        <input 
            type="search"
            name="search"
            placeholder="Zoek op titel, locatie of bedrijf"
            value="<%= search || '' %>">
        <button type="submit">Zoek</button>
        </form>

        <% if (search) { %>
        <ul>
            <% jobs.forEach(job => { %>
            <li>
                <a href="/detail/<%= job._id %>"><h2><%= job.title %></h2></a>
                <a href="/detail/<%= job._id %>"><p><%= job.company %></p></a>
                <a href="/detail/<%= job._id %>"><p><%= job.locations %></p></a>
            </li>
            <% }) %>
        </ul>
        <% } %>
    </article>
    </section>
    <section class="popular-searches">
        <h2>Populaire zoekresultaten</h2>
        <div>
            <a href="/filter?location=Noord-Holland">Noord-Holland</a>
            <a href="/filter?work_schedule=fulltime">Fulltime</a>
            <a href="/filter?company=BOLD Company">BOLD company</a>
            <a href="/filter?location=Zuid-Holland">Zuid-Holland</a>
            <a href="">PHP developer</a>
            <a href="">Back-end developer</a>
        </div>
    </section>
</main>

    <section class="vacatures">
        <h2>Uitgelichte vacatures</h2>
        </div><div class="carousel">
  <% randomJobs.forEach(job => { %>
    <%- include('../partials/kaartje', { job: job }) %>
  <% }) %>
</div>
    </section>
</body>
<footer>
    <%- include('../partials/footer') %>
</footer>
</html>
