<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profiel</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">

</head>
<body class="mainprofiel">
    <header>  
        <%- include('../partials/header') %>
    </header> 
    <main>
        <h1>Mijn profiel</h1>
        <section class="profiel">
            <aside>
                <nav>
                    <a href="/profiel" class="active">Profiel</a>
                    <a href="/favorites">Favorieten</a>
                </nav>
                
                <button type="button" class="delete-btn" id="open-delete-dialog">Delete account</button>
            
                <dialog id="delete-dialog">
                    <div class="dialog-content">
                        <h2>Weet je het zeker?</h2>
                        <p>Je staat op het punt je account definitief te verwijderen. Dit kan niet ongedaan worden gemaakt.</p>
                        
                        <div class="dialog-buttons">
                            <form action="/delete-account" method="POST">
                                <button type="submit" class="confirm-delete">Ja, verwijder mijn account</button>
                            </form>
                            
                            <button type="button" id="close-delete-dialog" class="cancel-delete">Nee, ga terug</button>
                        </div>
                    </div>
                </dialog>
            </aside>
            <div class="profiel-content">
                <div class="profiel-naam">
                    <% if (locals.user && locals.user.profielfoto) { %>
                        <img src="<%= user.profielfoto %>" alt="profiel icoon" class="main-profile-img">
                    <% } else { %>
                        <img src="/images/profiel.png" alt="profiel icoon" class="main-profile-img">
                    <% } %>                       
                    <p><%= data.name %></p>
                </div>
                <div class="data">
                        <div>
                            <p>Naam:</p>
                            <p><%= data.name %></p>
                            <p>Geboortedatum:</p>
                            <p><%= data.datum %></p>
                        </div>
                        <div>
                            <p>Email: </p>
                            <p><%= data.email %></p>
                            <p>Leeftijd </p>
                            <p><%= data.leeftijd %></p>
                        </div>
                        <div>
                            <p>Woonplaats: </p>
                            <p><%= data.woonplaats %></p>
                            <p>Wachtwoord: </p>
                            <p><%= data.wachtwoord %></p>
                        </div>
                    </div>
            </div>
             <a href="/editprofiel" class="edit-btn">Edit</a>        
        </section>
        
    </main>
        
</body>
<footer>
    <%- include('../partials/footer') %>
</footer>
</html>